.portfolio {
    background: #FFF;
    color: black;
    width: 100%;
}

.portfolio__container {
    margin: 0 70px 125px;
    max-width: 1280px;
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.portfolio__links {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.portfolio__title {
    margin: 0;
    color: #A0A0A0;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.portfolio__projects-item {
    display: flex;
    padding-bottom: 19px;
    border-bottom: 1px solid #E8E8E8;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.portfolio__projects-item:last-child {
    padding-bottom: 0;
    border: none;
}

.portfolio__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 0;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;
    width: 100%;
    position: relative;
    transition: all 0.3s ease;
}

.portfolio__link:hover {
    opacity: 0.7;
}

.portfolio__link::after {
    display: block;
    content: "";
    background-image: url('../../images/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 29px;
    height: 18px;
}

@media screen and (max-width: 800px){
    .portfolio__link{
        font-size: 28px;
        line-height: 50px;
    }
    .portfolio__container {
        margin: 0 50px 90px;
        max-width: 668px;
    }
    .portfolio__link::after {
        width: 28px;
      }
}

@media screen and (max-width: 400px){
    .portfolio__link{
        font-size: 28px;
        line-height: 50px;
    }
    .portfolio__container {
        margin: 0 14px 70px;
        max-width: 292px;
        gap: 40px;
    }
    .portfolio__title{
        font-size: 14px;
        line-height: 20px;
    }
    .portfolio__link{
        font-size: 18px;
        line-height: 28px
    }
}