.header {
    display: flex;
    width: 100%;
}

.header_color_purple {
    background-color: #465DFF;
}

.header_color_white {
    background-color: #FFFFFF;
}

.header__container {
    display: flex;
    padding: 18px 70px;
    gap: 45px;
    width: 100%;
}

.header__link {
    transition: all .3s ease;
    width: 38px;
}

.header__link:hover {
    opacity: .7;
}

@media screen and (max-width: 800px) {
    .header__container{
        padding: 18px 30px;
    }
}

@media screen and (max-width: 400px) {
    .header__container{
        padding: 14px 30px;
    }
}